
:root{
  --white: #fff;
  --black: #000;
  --blue: #2E54D4;
  --red: #F64B57;
  --green: #DCF8C5;
  --green--dark: #51C880;
  --white--dark: #F6F6F6;

  --color-inputs:#EBEBEB;
}

body{
  margin: 0;
  padding: 0;
}