.cardButtonModal{
    width: 90%;
    margin-top: 24rem;
    margin-bottom: 0;
    position: fixed;
    z-index: 900;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.cardButtonModal svg{
    color: var(--blue)
}

@media screen and (max-width: 428px){
    .cardButtonModal{
        margin-top: 16rem;
    }
}